<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Редактирование автора</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
    }
    .container {
      border-radius: 15px;
      padding: 20px;
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <h1 class="text-center mb-4">Редактирование автора</h1>
  <form th:action="@{/authors/{id}(id=${author.id})}" method="post">
    <div class="form-group">
      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" th:value="${author.name}" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Обновить</button>
  </form>

  <div class="text-center mt-4">
    <a href="/authors" class="btn btn-secondary">Назад к списку</a>
  </div>
</div>

</body>
</html>