<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание новой книги</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #333;
        }
        .container {
            border-radius: 15px;
            padding: 20px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Создание новой книги</h1>
    <form action="/books" method="post">
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" required class="form-control">
        </div>

        <div class="form-group">
            <label for="author">Автор:</label>
            <input type="text" id="author" name="author" required class="form-control">
        </div>

        <div class="form-group">
            <label for="pages">Кол-во страниц:</label>
            <input type="number" id="pages" name="pages" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>

    <div class="text-center mt-4">
        <a href="/books" class="btn btn-secondary">Назад к списку</a>
    </div>
</div>

</body>
</html>