<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Book List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Кол-во страниц</th>
        <th>Действия</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.pages}"></td>
        <td>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
            <a th:href="@{'/books/' + ${book.id} + '/delete'}" class="btn-delete">Удалить</a>
            <a th:href="@{/books/{id}(id=${book.id})}">View Details</a>
        </td>
    </tr>
</table>
<br>
<a href="/books/new">Создать</a>
<a href="/"><h2>На главную</h2></a>
</body>
</html>
