<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #333;
        }
        .container {
            border-radius: 15px;
            padding: 20px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Список книг</h1>

    <form action="/books/search" method="get" class="form-inline mb-4 justify-content-end">
        <input type="text" name="keyword" class="form-control mr-2" placeholder="Поиск по названию">
        <button type="submit" class="btn btn-primary">Искать</button>
    </form>

    <div class="text-right mb-3">
        <a href="/books/new" class="btn btn-success">Создать новую книгу</a>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Количество страниц</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.pages}"></td>
            <td class="d-flex justify-content-around">
                <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-sm btn-warning">Редактировать</a>
                <form th:method="post" th:action="@{/books/{id}(id=${book.id})}" class="d-inline-block ml-2">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Удалить" class="btn btn-sm btn-danger">
                </form>
                <a th:href="@{/books/{id}(id=${book.id})}" class="btn btn-sm btn-info ml-2">Посмотреть детали</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">На главную</a>
    </div>
</div>

</body>
</html>
