<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div>
  <h1>Калькулятор</h1>

  <form method="post" action="/calc">
    <label for="FirstValue">Первое значение:</label>
    <input type="number" step="any" id="FirstValue" name="FirstValue" required>

    <label for="SecondValue">Второе значение:</label>
    <input type="number" step="any" id="SecondValue" name="SecondValue" required>

    <select id="operation" name="operation" required>
      <option value="add">Сложение (+)</option>
      <option value="subtract">Вычитание (−)</option>
      <option value="multiply">Умножение (×)</option>
      <option value="divide">Деление (÷)</option>
    </select>

    <input type="submit" value="Посчитать">
  </form>
</div>

<h2 th:text="${result}"></h2>
</body>
</html>