<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Car Details</h1>
<p><strong>ID:</strong> <span th:text="${car.id}"></span></p>
<p><strong>Производитель:</strong> <span th:text="${car.make}"></span></p>
<p><strong>Модель:</strong> <span th:text="${car.model}"></span></p>
<p><strong>Год выпуска:</strong> <span th:text="${car.year}"></span></p>

<a th:href="@{/cars}">Назад к списку</a>
</body>
</html>
