<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Car List</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Car List</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Производитель</th>
    <th>Модель</th>
    <th>Год выпуска</th>
    <th>Действия</th>
  </tr>
  <tr th:each="car : ${cars}">
    <td th:text="${car.id}"></td>
    <td th:text="${car.make}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.year}"></td>
    <td>
      <a th:href="@{/cars/edit/{id}(id=${car.id})}">Edit</a>
      <form th:method="post" th:action="@{/cars/{id}(id=${car.id})}">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Удалить" class="btn-delete">
      </form>
      <a th:href="@{/cars/{id}(id=${car.id})}">View Details</a>
    </td>
  </tr>
</table>
<br>
<a href="/cars/new">Создать</a>
<a href="/"><h2>На главную</h2></a>
</body>
</html>
