<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Product Details</h1>
<p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
<p><strong>Название:</strong> <span th:text="${product.name}"></span></p>
<p><strong>Цена:</strong> <span th:text="${product.price}"></span></p>
<p><strong>Количество:</strong> <span th:text="${product.quantity}"></span></p>

<a th:href="@{/products}">Назад к списку</a>
</body>
</html>
